<div class="search-bar">
    <div class="flex">
        <div>
            <clr-input-container class="search-query-input">
                <label>Search query</label>
                <input clrInput type="text" [formControl]="term" />
            </clr-input-container>
        </div>
        <div class="group-by-checkbox-wrapper">
            <clr-checkbox-wrapper>
                <input
                    type="checkbox"
                    clrCheckbox
                    name="groupByProduct"
                    required
                    [formControl]="groupByProduct"
                />
                <label>Group by product</label>
            </clr-checkbox-wrapper>
        </div>
        <div class="prefix-checkbox-wrapper">
            <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="prefixMode" required [formControl]="prefixMode" />
                <label
                    >Prefix mode
                    <vdr-help-tooltip
                        [content]="'Prefix mode is used for search-as-you-type results'"
                    ></vdr-help-tooltip
                ></label>
            </clr-checkbox-wrapper>
        </div>
    </div>

    <div class="search-stats">
        <div>
            Total results: <strong>{{ (totalItems$ | async) || 0 }}</strong>
        </div>
        <div class="ml2">
            Query time: <strong>{{ (searchTimeMs$ | async) || 0 }}ms</strong>
        </div>
    </div>
</div>

<div class="results">
    <div class="clr-row" *ngIf="searchTerm$ | async; else noSearchTerm">
        <div class="clr-col-12 clr-col-lg-4 clr-col-xl-3">
            <div class="card">
                <div class="card-header">Collection matches</div>
                <div class="card-block collection-matches">
                    <ul class="list-unstyled">
                        <li *ngFor="let collection of collections$ | async">
                            {{ collection.collection.name }}
                            <span class="badge">{{ collection.count }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">FacetValue matches</div>
                <div class="card-block facet-value-matches">
                    <ul class="list-unstyled">
                        <li *ngFor="let facetValue of facetValues$ | async">
                            {{ facetValue.facetValue.facet.name }}: {{ facetValue.facetValue.name }}
                            <span class="badge">{{ facetValue.count }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div
            class="clr-col-12 clr-col-lg-8 clr-col-xl-9"
            *ngIf="paginationConfig$ | async as paginationConfig"
        >
            <div
                *ngFor="
                    let result of results$ | async | paginate: paginationConfig;
                    trackBy: trackBySearchResult;
                    index as i
                "
                class=""
            >
                <div class="card">
                    <div class="card-header">
                        <span class="search-position"
                            >#{{
                                (paginationConfig.currentPage - 1) * paginationConfig.itemsPerPage + i + 1
                            }}</span
                        >
                        {{ result.productName }}
                    </div>
                    <div class="card-block">
                        <div class="search-result-details-wrapper">
                            <div class="mr2">
                                <img
                                    *ngIf="
                                        groupByProduct.value === false && result.productVariantAsset;
                                        else productAsset
                                    "
                                    [src]="result.productVariantAsset | assetPreview: 'tiny'"
                                />
                                <ng-template #productAsset>
                                    <img [src]="result.productAsset | assetPreview: 'tiny'" />
                                </ng-template>
                            </div>
                            <div class="search-result-details">
                                <table>
                                    <tbody>
                                        <tr *ngFor="let highlight of result.highlights">
                                            <td class="highlight-field">
                                                <small class="mr2"
                                                    >{{
                                                        highlight.field | replace: 'customMapping_':''
                                                    }}:</small
                                                >
                                            </td>
                                            <td class="highlight-value">
                                                <span [innerHTML]="highlight.snippet | stripHtml"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer flex">
                        <div>
                            <ng-container *ngIf="0 < result.score; else curated">
                                <button class="btn btn-sm btn-link" (click)="curateResult(result)">
                                    Curate this result
                                </button>
                            </ng-container>
                            <ng-template #curated>
                                <vdr-chip colorType="success">curated</vdr-chip>
                            </ng-template>
                        </div>
                        <div class="flex-spacer"></div>
                        <div>
                            <ng-container *ngIf="0 < result.score">
                                <small>score: {{ result.score | number }}</small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <vdr-items-per-page-controls
                    [itemsPerPage]="(paginationConfig$ | async)?.itemsPerPage"
                    (itemsPerPageChange)="setItemsPerPage($event)"
                ></vdr-items-per-page-controls>

                <vdr-pagination-controls
                    [currentPage]="(paginationConfig$ | async)?.currentPage"
                    [itemsPerPage]="(paginationConfig$ | async)?.itemsPerPage"
                    [totalItems]="(paginationConfig$ | async)?.totalItems"
                    (pageChange)="setCurrentPage($event)"
                ></vdr-pagination-controls>
            </div>
        </div>
    </div>

    <ng-template #noSearchTerm>
        <div class="no-search-term">
            <h1><clr-icon shape="search" size="32"></clr-icon> Enter a search term</h1>
        </div>
    </ng-template>
</div>
